*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: inline-block;  
    width: 70%;
    margin: 100px;
    border: 4px solid black;
    margin-top: 20px;
}

.container h1{
    padding: 10px;
    margin: 10px;
}

.container img{
    float: left;
    width: 300px;
    height: 400px;
    margin: 20px;
}

.container p{
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.footer{
    clear: both;
    padding: 10px;
    margin: 20px;
}