*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* no-wrap, wrap-reverse */
    
    margin: 100px auto;
    padding: 30px;
    width: 900px;
    height: 750px;
    border: 1px solid black;

    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */
    /* flex-flow: ; */
    /* justify-content: flex-start; works on main-axis
    justify-content: flex-end; */
    justify-content: space-evenly;
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    /* align-items: flex-start; works on cross-axis */  
    align-items: space-evenly;
    
    align-content: flex-start;
    gap: 10px 20px;
}

.item{
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: rgb(73, 178, 3);
    border: 1px solid rgb(7, 5, 71);
    text-align: center;
    flex-grow: 1;
}

.item2{
    order: -1;
    /* flex-grow: 2; */
    /* align-items: baseline; */
    
}