/*.box{

}
*/      
@media(min-width:768px){
    .box
}
body{
    background-image: url("paper.gif");
    background-repeat: repeat-x;
    background-position:right top;
    background-attachment:fixed 0;
}
div{
    width: 300px;
    margin: auto;
    border: 1px solid red;
}
div{
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid grey;
    margin: 0%;
}
