body{
    background-color: beige;
}
.box{
    height: 300px;
    width: 500px;
    background-color: aquamarine;
    border : 10px solid  pink;
    margin-top: 15px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box1{
    height: 200px;
    width: 500px;
    background-color: crimson;
    border : 8px dotted  honeydew;
    margin-top: 12px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box2{
    height: 200px;
    width: 300px;
    background-color: darksalmon;
    border : 5px dashed   powderblue;
    margin-top: 16px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
.box3{
    height: 500px;
    width: 500px;
    background-color: slategray;
    border : 13px double  greenyellow;
    margin-top: 13px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}