body{
    background-color: pink;
    text-align: center;

}
p{
    background-color: palevioletred;
    padding: 5px ;
}

#hh{
    background-color:lightsalmon;
}

.aa{
   background-color: blueviolet;
}

