/* h1{
    background-color:skyblue;
}

p{
    background-color:green;
    font-size: large;
} */
 .parent{
    border: 3px solid black;
    height: 500px;
    width : 65% ;

}

.box{
    height: 300px;
    width: 200px;
    text-align: center;
}

.box1{
    background-color: yellowgreen;
    margin: 10px;
    display: inline-block;
    padding: 50px;
} 
.box2{
    background-color: crimson;
    margin: 10px;
    display: inline-block;
    padding: 50px;
}
.box3{
    background-color: mediumaquamarine;
    margin: 10px;
    display: inline-block;
    padding: 50px;
}